h1 {
    font-family: Arial;    
    color: #280;
    font-size: 25px;
}
h3 {
    color: #006;
    font-style: italic;
    font-size: 20px; 
}
h2 {
    color: #666;
    font-size: 20px;
    font-family: arial;
}
p {
    font-family: arial;
    font-size: 15px;
}